<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pepivsky.ejemplobroadcastreceiver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EjemploBroadcastReceiver">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Broacast receivers-->
        <receiver android:name=".MyFirstReceiver"/>

        <receiver android:name=".MainActivity$MyThirdReceiverInner"/>

        <!--Broadcast implicito, no funciona para acciones personalizadas a partir de android 8, solo para algunas acciones del sistema -->
        <receiver android:name=".MyImplicitReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="my.custom.action"/>
            </intent-filter>
        </receiver>

        <!--Broadcast que escucha eventos del sistema, no funciona desde Android 8 en adelante, en su lugar hay que usar Context.registerReceiver o usar scheduled jobs-->
        <receiver android:name=".MySystemEventReceiver"
            android:exported="false">
            <intent-filter >
                <action android:name="android.intent.action."/>
            </intent-filter>
        </receiver>

    </application>

</manifest>